<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-12">
	<h1>Willkommen im Wartungstool</h1>
	</div>
</div>

<!--<p>Hier entsteht die Startseite des Wartungstool</p>
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-12">
		<h4>erstellte Seiten:</h4>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-12">
		<ul>
			<li><a href="wv-uebersicht"><p>Wartungsverträge Übersicht</p></a></li>
			<li><a href="kundeninfo"><p>neuer Wartungsvertrag</p></a></li>
			<li><a href="addArticle"><p>Artikel mit Wartung hinzufügen/bearbeiten</p></a></li>
			<li><a href="stundenpool"><p>Stundenpool hinzufügen/bearbeiten</p></a></li>
			<li><a href="summe-wv"><p>Summe Wartungsverträge Jahr</p></a></li>
			<li><a href="summe-wv-quart"><p>Summe Wartungsverträge Quartal</p></a></li>
			<li><a href="kontrolle"><p>Kontrolle Wartungsverträge</p></a></li>
			<li><a href="kontrolle-detail"><p>Kontrolle Wartungsvertrag Detail</p></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-12">
		<h4>noch zu erstellende Seiten:</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-12">
		<ul>
			<li><p>Startseite Wartungstool</p></li>
			<li><p>LogIn</p></li>
			<li><p>Wartung verlängern</p></li>
			<li><p>Produkte Übersicht</p></li>
			<li><p>neues Produkt erfassen</p></li>
			<li><p>Einstellungen</p></li>
		</ul>
	</div>
	
</div>-->



