/*!
* Custom Bootstrap CSS
* Hier werden die benötigten Eigenschaften überschrieben und neue definiert
*/

/* Standardbreite überschreiben */
@media (min-width: 1000px) {
	.container {
		width: 970px;
	}
}

/* Schrift der Amanox Solutions AG */
@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Light.ttf');
}

/* Body überschreiben */
body {
	font-family: "DIN Next LT Pro";
	font-size: 15px;
	margin: auto;
	padding-top: 70px;
	margin-bottom: 50px;
	background-color: #ffffff;
}

/* Navbar überschreiben */
.custom-navbar {
	background-color: #ffffff;
	color: #4b4a4d;
	border-bottom: 1px #999999 solid;
}
.custom-navbar-color {
	background-color: #d5cf54;
}
.custom-navbar-brand {
	padding: 10px 10px 10px 20px;
}
.custom-navbar-container {
	padding-left: 20px;
	padding-right: 20px;
}

/* Text styles überschreiben */
.custom-h4 {
	color: #466876;
	font-weight: bold;
	padding-left: 15px;
	padding-bottom: 8px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.custom-h5-article {
	color: #d5cf54;
	font-weight: bold;
	margin-bottom: 8px;
}
.custom-h5-pool {
	color: #3e94b9;
	font-weight: bold;
	margin-bottom: 8px;
}

/* custom panel style  */
.custom-panel {
	height: 48px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.custom-panel a:hover {
	text-decoration: none;
}
.panel-body {
	border-radius: 4px
}
.panel-vertrag{
	background-color: #CC3C53;
	border-color: #CC3C53;
	color: white;
}
.panel-filter {
	background-color: #cad4d8;
	border-color: #cad4d8;
}
.custom-panel-fixed {
	/*min-width: 210px;*/
}

/* custom-btn styles */
.custom-btn{
	background-color: #123e50;
	border-color: #123e50;
	color: white;
}
.custom-btn:hover {
	background-color: #466876;
	border: #466876;
	color: white;
}
.custom-btn-wv{
	background-color: #CC3C53;
	border: #CC3C53;
	color: white;
	margin: 5px;
}
.custom-btn-wv:hover{
	background-color: #d76779;
	border: #d76779;
	color: white;
}
.custom-btn-article{
	background-color: #d5cf54;
	border: #d5cf54;
	color: white;
	margin: 5px;
}
.custom-btn-article:hover{
	background-color: #ded97a;
	border: #ded97a;
	color: white;
}
.custom-btn-stundenpool{
	background-color: #3e94b9;
	border: #3e94b9;
	color: white;
	margin: 5px;
}
.custom-btn-stundenpool:hover{
	background-color: #68abc8;
	border: #68abc8;
	color: white;
}
.custom-btn-wv-inactive{
	background-color: #f1c8ce;
	border: #f1c8ce;
	color: white;
	margin: 5px;
}
.custom-btn-article-inactive{
	background-color: #f4f3d2;
	border: #f4f3d2;
	color: white;
	margin: 5px;
}
.custom-btn-stundenpool-inactive{
	background-color: #e4f3fa;
	border: #e4f3fa;
	color: white;
	margin: 5px;
}
.custom-btn-circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.custom-btn-circle-1{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #123e50;
	border: #CC3C53;
	color: white;
	margin: 10px;
}
.custom-btn-circle-2{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: red;
	border: red;
	color: white;
	margin-top: 20px;
}
.custom-btn-circle-3{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: orange;
	border: orange;
	color: white;
	margin-top: 20px;
}

/* custom Inputfeld-Pflichtfeld */
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
	border-color: red;
}

/* Label der Pflichtfelder */
.text-required-info {
	color: #cc3c53;
}
.text-required-article {
	color: #d5cf54;
}
.text-required-pool {
	color: #3e94b9;
}

/* kein Zeilenumbruch*/
.nobr {
	white-space: nowrap;
}

/* hervorheben */
.highlight{
	background-color: #d5cf54;
}

/* custom list styles */
.custom-list-unstyled li {
	margin-top: 5px;
}
.custom-list-group {
	min-width: 210px;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.custom-list-group-fixed {
	position: fixed;
}

/* custom alert style  */
.custom-alert {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}

/* custom panel style  */
.custom-container {
	background-color: #fff;
}

/* custom login form */
.custom-form-login {
	margin: 10px;
}

/* custom table styles */
.custom-border-left {
	border-left: 1px solid #ddd;
}
.custom-table > tfoot > tr > td {
	vertical-align: bottom;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #e4e9eb;
}
.table-hover > tbody > tr:hover {
	background-color: #123e50;
	color: white;
}

/* custom glyphicon styles */
.custom-glyphicon-left {
	margin-right: 10px;
}
.custom-glyphicon-right {
	margin-left: 10px;
}
.custom-glyphicon{
	color: #123e50;
}
.green{
	color: green;
}
.custom-glyphicon{
	color: #123e50;
}
.red{
	color: red;
}

/* overide well styles */
.custom-well{
	padding-left: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
}
.well-warning{
	background-color: #b0bec4;
	min-height: 120px;
	border-radius: 4px;
	padding: 0px;
	margin: 5px;
}
.warning{
	color: white;
}
.warning-grey{
	color: #666;
}
.well-sum{
	background-color: #f0efc6;
	min-height: 120px;
	border-radius: 4px;
	padding: 0px;
	margin: 5px;
}
.sum{
	background-color: #d5cf54;
}
.weiss{
	color: white;
}
.gelb{
	background-color: #f0efc6;
	border-color: #f0efc6;
}
.blau{
	background-color: #bedbe7;
	border-color: #bedbe7;
}
.row{
	margin-bottom: 10px;
}
.weiss{
	color: white;
}
.gelb{
	background-color: #f0efc6;
	border-color: #f0efc6;
}
.blau{
	background-color: #bedbe7;
	border-color: #bedbe7;
}
