/*!
* Custom Bootstrap CSS
*/

/* overwrite standard width */
@media (min-width: 1000px) {
	.container {
		width: 970px;
	}
}

/* custom font */
@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('../fonts/DINNextLTPro-Light.ttf');
}

/* Overide body style */
body {
	font-family: "DIN Next LT Pro";
	font-size: 15px;
	margin: auto;
	padding-top: 70px;
	margin-bottom: 50px;
	background-color: #ffffff;
}

/* override navbar style */
.custom-navbar {
	background-color: #ffffff;
	color: #4b4a4d;
	border-bottom: 1px #999999 solid;
}
.custom-navbar-color {
	background-color: #d5cf54;
}
.custom-navbar-brand {
	padding: 10px 10px 10px 20px;
}
.custom-navbar-container {
	padding-left: 20px;
	padding-right: 20px;
	/*max-width: 1000px;*/
}
.highlight{
	background-color: #d5cf54;
}


/* Override Container */

/* custom text styles */
.custom-h4 {
	color: #466876;
	font-style: bold;
	padding-left: 15px;
	padding-bottom: 8px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.custom-h5-article {
	color: #d5cf54;
	font-weight: bold;
	margin-bottom: 8px;
}
.custom-h5-pool {
	color: #3e94b9;
	font-weight: bold;
	margin-bottom: 8px;
}

.custom-list-unstyled li {
	margin-top: 5px;
}

/* override  */
.custom-alert {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.custom-panel {
	height: 48px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.custom-panel a:hover {
	text-decoration: none;
}
.panel-body {
	/*height: 48px;*/
	border-radius: 4px
}
.panel-vertrag{
	background-color: #CC3C53;
	border-color: #CC3C53;
/*	background-color: #edbec5;
	border-color: #edbec5;*/
	color: white;
}
.panel-filter {
	background-color: #cad4d8;
	border-color: #cad4d8;
}

.custom-panel-fixed {
	/*min-width: 210px;*/
}
.custom-list-group {
	min-width: 210px;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.custom-list-group-fixed {
	position: fixed;
}

/* Sticky stuff */
.sticky-top {
	position: -webkit-sticky;
	top: 60px;
	z-index: 1;
	background-color: ;
}
.sticky {
	position: fixed;
	top: 60px;
	z-index: 100;
	margin-bottom: 30px;
}

.custom-container {
	background-color: #fff;
}

/*
.fixed-container {
padding-top: 80px;
background-color: #0f0;
}
.sticky-top {
top: 0px;
background-color: #003;
}
#sticky-top {
top: 30px;
}*/

/* custom login form */
.custom-form-login {
	margin: 10px;
}

/* custom table styles */
.custom-border-left {
	border-left: 1px solid #ddd;
}
.custom-table > tfoot > tr > td {
	vertical-align: bottom;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e4e9eb;
}
.table-hover > tbody > tr:hover {
  background-color: #123e50;
  color: white;
}

/* overide glyphicon styles */
.custom-glyphicon-left {
	margin-right: 10px;
}
.custom-glyphicon-right {
	margin-left: 10px;
}
.custom-glyphicon{
	color: #123e50;
}

.green{
	color: green;
}

.custom-glyphicon{
	color: #123e50;
}

.green{
	color: green;
}

.red{
	color: red;
}

.custom-well{
background-color: #;
/*border: 0px solid  #;*/
/*border-bottom: 1px solid lightgrey;*/
padding-left: 15px;
padding-bottom: 8px;
padding-top: 8px;
/*margin-bottom: 10px;*/
}


/*Buttons AppButton, wv-Button, Article-Button, Stundenpool-Button */
.custom-btn{
background-color: #123e50;
border: #123e50;
color: white;
}
.custom-btn:hover {
background-color: #466876;
border: #466876;
color: white;
}
.custom-btn-wv{
background-color: #CC3C53;
border: #CC3C53;
color: white;
margin: 5px;
}
.custom-btn-wv:hover{
background-color: #d76779;
border: #d76779;
color: white;
}
.custom-btn-article{
background-color: #d5cf54;
border: #d5cf54;
color: white;
margin: 5px;
}
.custom-btn-article:hover{
background-color: #ded97a;
border: #ded97a;
color: white;
}
.custom-btn-stundenpool{
background-color: #3e94b9;
border: #3e94b9;
color: white;
margin: 5px;
}
.custom-btn-stundenpool:hover{
background-color: #68abc8;
border: #68abc8;
color: white;
}

.custom-btn-wv-inactive{
background-color: #f1c8ce;
border: #f1c8ce;
color: white;
margin: 5px;
}
.custom-btn-article-inactive{
background-color: #f4f3d2;
border: #f4f3d2;
color: white;
margin: 5px;
}
.custom-btn-stundenpool-inactive{
background-color: #e4f3fa;
border: #e4f3fa;
color: white;
margin: 5px;
}
.custom-btn-circle{
width: 100px;
height: 100px;
border-radius: 50%;
margin-right: 10px;
margin-bottom: 10px;
}



.well-warning{
background-color: #b0bec4;
min-height: 120px;
border-radius: 4px;
padding: 0px;
margin: 5px;
}
.custom-btn-circle-1{
width: 100px;
height: 100px;
border-radius: 50%;
background-color: #123e50;
border: #CC3C53;
color: white;
margin: 10px;
}
.custom-btn-circle-2{
width: 60px;
height: 60px;
border-radius: 50%;
background-color: red;
border: red;
color: white;
margin-top: 20px;
}
.custom-btn-circle-3{
width: 80px;
height: 80px;
border-radius: 50%;
background-color: orange;
border: orange;
color: white;
margin-top: 20px;
}
.warning{
margin-left:;
color: white;
}
.well-sum{
background-color: #f0efc6;
min-height: 120px;
border-radius: 4px;
padding: 0px;
margin: 5px;
}
.sum{
background-color: #d5cf54;
}
.weiss{
color: white;
}
.gelb{
background-color: #f0efc6;
border-color: #f0efc6;
}
.blau{
background-color: #bedbe7;
border-color: #bedbe7;
}
.center{
	display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    justify-content: center;
    align-items: center;
}
.row{
  margin-bottom: 10px;
}

.weiss{
color: white;
}
.gelb{
background-color: #f0efc6;
border-color: #f0efc6;
}
.blau{
background-color: #bedbe7;
border-color: #bedbe7;
}
.center
{
	display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    justify-content: center;
    align-items: center;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
	border-color: red;
}
