<div class="row">

	<div class="col-xs-6 col-sm-6 col-md-3">
		<h3>Übersicht Produkte</h3>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6">
		<a href="/#/produkte/neu">
			<button type="button" class="btn btn-default custom-btn pull-right">
				<span class=" glyphicon glyphicon-plus-sign custom-glyphicon-left" aria-hidden="true"></span>Produkt erfassen
			</button>
		</a>
	</div>

</div>
<div class="row">

	<div class="col-xs-12 col-ms-12 col-md-9">

		<!-- Messages -->
		<div ng-include='"app/shared/messagebox/messageBox.html"'></div>

		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Artikelnummer
							<a href="" ng-click="order('Artikelnummer')">
								<span class="sortorder" ng-show="predicate === 'Artikelnummer'" ng-class="{reverse:reverse}"></span>
								<span class="glyphicon glyphicon-sort custom-glyphicon-right custom-glyphicon" aria-hidden="true"></span>
							</a>
						</th>
						<th>Name
							<a href="" ng-click="order('Name')">
								<span class="sortorder" ng-show="predicate === 'Name'" ng-class="{reverse:reverse}"></span>
								<span class="glyphicon glyphicon-sort custom-glyphicon-right custom-glyphicon" aria-hidden="true"></span>
							</a>
						</th>
						<th>Hersteller
							<a href="" ng-click="order('Hersteller')">
								<span class="sortorder" ng-show="predicate === 'Hersteller'" ng-class="{reverse:reverse}"></span>
								<span class="glyphicon glyphicon-sort custom-glyphicon-right custom-glyphicon" aria-hidden="true"></span>
							</a>
						</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="loading" ng-repeat="product in products | filter:productFilter | orderBy:predicate:reverse">
						<td>{{ product.Artikelnummer }}</td>
						<td>{{ product.Name }}</td>
						<td>{{ product.Hersteller }}</td>
						<td>
							<a href="/#/produkte/{{ product.ID }}/edit">
								<span class="glyphicon glyphicon-pencil hidden-print" aria-hidden="true"></span>
							</a>&nbsp;&nbsp;
							<a href="#" ng-click="deleteProduct(product.ID)">
								<span class="glyphicon glyphicon-remove hidden-print" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Panel für den Filter -->
	<div class="col-xs-12 col-sm-12 col-md-3">
		<div class="panel panel-default custom-panel-fixed panel-filter">
			<div class="panel-body">
				<div class="form-group form-group-sm form-horizontal">
					<div class="col-xs-10 col-sm-9">
						<label class="sr-only" for="filter">Filter</label>
						<input type="text" ng-model="productFilter" class="form-control input-sm" id="Filter" placeholder="Filter">
					</div>
					<button type="submit" ng-click="productFilter = undefined" class="btn btn-default custom-btn btn-sm">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /Panel für den Filter -->

</div>
