<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4">
		<h4>Produkte</h4>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-1 col-md-offset-4">
		<a href="produkt-neu"><button type="button" class="btn btn-default custom-btn"><span class=" glyphicon glyphicon-plus-sign custom-glyphicon-left" aria-hidden="true"></span>neu</button></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-9">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Artikelnummer<a href="#"><span class="glyphicon glyphicon-sort custom-glyphicon-right" aria-hidden="true"></span></a></th>
						<th>Name<a href="#"><span class="glyphicon glyphicon-sort custom-glyphicon-right" aria-hidden="true"></span></a></th>
						<th>Hersteller<a href="#"><span class="glyphicon glyphicon-sort custom-glyphicon-right" aria-hidden="true"></span></a></th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row" ng-hide="loading" ng-repeat="product in products | filter:prfilter | orderBy : 'Name'">
						<td>{{ product.Artikelnummer }}</td>
						<td>{{ product.Name }}</td>
						<td>{{ product.Hersteller }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-3">
		<div class="panel panel-default custom-panel">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group form-group-sm">
						<div class="col-xs-10 col-sm-9">
							<!-- .sr-only hides the label field which is needed for screen readers... -->
							<label class="sr-only" for="filter">Filter</label>
							<input type="text" ng-model="prfilter" class="form-control input-sm" id="filter" placeholder="Filter">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-9">
		<nav>
			<ul class="pagination">
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			</ul>
		</nav>
	</div>
</div>
