<nav class="navbar navbar-default navbar-fixed-top custom-navbar">
  <div class="container custom-navbar-container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom-navbar-brand" href="/#/start">
        <img alt="Amanox Wartungstool" width="30" height="30" src="assets/img/Amanox_Logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/start" class="navbar-link">Wartungstool</a></li>
        <li ng-if="authenticated"><a href="/#/wartungsvertraege/index">Wartungsverträge</a></li>
        <li ng-if="authenticated"><a href="/#/produkte/index">Produkte</a></li>

        <li class="dropdown">
          <a onclick='selectedDropdown("reports")' href="reports" class="dropdown-toggle reports" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu reports" role="menu">
            <li class="reports"><a href="/#/summe-wv"><span class="glyphicon glyphicon-usd custom-glyphicon-left" aria-hidden="true"></span>Summe</a></li>
            <li class="reports"><a href="/#/kontrolle"><span class="glyphicon glyphicon-ok custom-glyphicon-left" aria-hidden="true"></span>Kontrolle</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="authenticated"><a href="/#/user">{{ currentUser.name }}</a></li>
        <li ng-if="!authenticated"><a href="/#/login">Login</a></li>
      </ul>
    </div>

  </div>
</nav>
