<!-- Liste mit den 3 Wartungsvertrags-Tabs (Wartungsvertrag / Artikel / Stundenpool) -->
<div class="row">
	<div ng-include='"app/shared/contractmenu/poolMenu.html"'></div>


	<!-- list-group mit Wartungsvertragsinfos -->
	<div class="hidden-xs hidden-sm col-md-3">
		<div class="row">
			<div class="col-md-12">
				<div class="list-group custom-list-group-fixed">
					<a class="list-group-item inactive">
						<h5 class="list-group-item-heading"><span class="glyphicon glyphicon-list-alt custom-glyphicon-left" aria-hidden="true"></span>Artikel</h5>
						<p class="list-group-item-text">
							<ul class="list-unstyled">
								<li><span class="glyphicon glyphicon-remove-circle red custom-glyphicon-left" aria-hidden="true"></span><small>Infoblox TE-810-NS1GRID-AC<br />(0800201210100122)</small></li>
								<br />
								<li><span class="glyphicon glyphicon-remove-circle red custom-glyphicon-left" aria-hidden="true"></span><small>Infoblox TE-820-NS1GRID-AC<br />(0800201210100123)</small></li>
							</ul>
						</p>
					</a>
					<a class="list-group-item inactive">
						<h5 class="list-group-item-heading"><span class="glyphicon glyphicon-time custom-glyphicon-left" aria-hidden="true"></span>Stundenpool</h5>
						<p class="list-group-item-text">
							<ul class="list-unstyled">
								<li><span class="glyphicon glyphicon-remove-circle red custom-glyphicon-left" aria-hidden="true"></span><small>OS-SP_Support (100 Std)</small></li>
							</ul>
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- sticky-top -> sticky -->
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-9">
		<div class="panel panel-default custom-panel sticky-top">
			<div class="panel-body">
				<p class="text-center">
					<span class="glyphicon glyphicon-user custom-glyphicon-left" aria-hidden="true"></span>BKW Energie AG&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tag custom-glyphicon-left" aria-hidden="true"></span>A14TL919-150-500120&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-earphone custom-glyphicon-left" aria-hidden="true"></span>Hans Kontaktmann
				</p>
			</div>
		</div>
	</div>
</div>

<!--<div class="row">
<div class="col-xs-12 col-sm-12 col-md-9">
<div class="alert alert-dismissable alert-success custom-alert" >
Artikel wurde erfolgreich hinzugefügt!
</div>
</div>
</div>-->

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-9">
		<div class="row">
			<h4 class="custom-h4">Stundenpool</h4>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputArt" class="col-md-4 control-label">Art</label>
						<div class="col-md-8">
							<select class="form-control">
								<option>OS-SP_</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputStartdatum" class="col-md-4 control-label">Startdatum</label>
						<div class="col-md-6">
							<input type="date" name="Startdatum" id="inputStartdatum" class="form-control" value="" required="required" pattern="" title="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputVon" class="col-md-2 control-label">Von</label>
						<div class="col-md-3">
							<input type="date" name="Von" id="inputVon" class="form-control" value="" required="required" pattern="" title="">
						</div>
						<label for="inputBis" class="col-md-2 col-md-offset-1 control-label">Bis</label>
						<div class="col-md-3">
							<input type="date" name="Bis" id="inputBis" class="form-control" value="" required="required" pattern="" title="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputStundenansatz" class="col-md-4 control-label">Stundenansatz</label>
						<div class="col-md-4">
							<input type="text" name="Stundenansatz" id="inputStundenansatz" class="form-control" value="" required="required" pattern="" title="">
						</div>
						<label for="inputWaehrungSTA" class="sr-only">WaehrungSTA</label>
						<div class="col-md-4">
							<select class="form-control">
								<option>CHF</option>
								<option>USD</option>
								<option>EUR</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputAnzahl h" class="col-md-4 control-label">Anzahl Std</label>
						<div class="col-md-6">
							<input type="text" name="Anzahl h" id="inputAnzahl h" class="form-control" value="" required="required" pattern="" title="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputVerkaufspreis" class="col-md-4 control-label">Verkaufspreis</label>
						<div class="col-md-4">
							<input type="text" name="Verkaufspreis" id="inputEinkaufspreis" class="form-control" value="" required="required" pattern="" title="">
						</div>
						<label for="inputWaehrungOSV" class="sr-only">WaehrungOSV</label>
						<div class="col-md-4">
							<select class="form-control">
								<option>CHF</option>
								<option>USD</option>
								<option>EUR</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputRechn-Nr." class="col-md-2 control-label">Rechn-Nr.</label>
						<div class="col-md-4">
							<input type="text" name="Rechn-Nr." id="inputRechn-Nr." class="form-control" value="" required="required" pattern="" title="">
						</div>
						<label for="inputDatum" class="col-md-2 control-label">Rechn-Datum</label>
						<div class="col-md-3">
							<input type="date" name="Datum" id="inputDatum" class="form-control" value="" required="required" pattern="" title="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<h4 class="custom-h4"></h4>
		</div>
	</div>

</div>
<div class="row">
	<a href="wv-uebersicht"><button type="button" class="btn btn-default custom-btn col-xs-12 col-sm-12 col-md-offset-7 col-md-2">
		<span class="glyphicon glyphicon-plus-sign custom-glyphicon-left" aria-hidden="true"></span>hinzufügen
	</button></a>
</div>
