<div class="row">
  <div ng-include='"app/shared/contractmenu/contractMenu.html"'></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">
    <div class="row">
      <h4 class="custom-h4">Wartungsvertrag</h4>
    </div>
    <div class="row">
      <form name="contractForm" novalidate ng-submit="contractForm.$valid && storeContract()">
        <!-- je nach edit / new der Wert gesetzt PUT / POST -->
        <input type="hidden" name="_method" value="{{ formMethod }}">
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label" for="Kunden_ID">Kunde</label>
            <div class="col-md-8">
              <select class="form-control" name="Kunden_ID" id="Kunden_ID"
              ng-model="contractData.Wartungsvertraege_Kunden_ID" ng-change="update()">
              <option value="{{ customer.ID }}" ng-hide="loading"
              ng-repeat="customer in customers">
              {{ customer.Name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6 col-md-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputKontakt" class="col-md-4 control-label">Kontakt</label>
        <div class="col-md-8">
          <select class="form-control" name="Kontaktperson_ID" id="Kontaktperson_ID"
          ng-model="contractData.Wartungsvertraege_Kontaktpersonen_ID">
          <option value="{{ contact.ID }}" ng-hide="loading"
          ng-repeat="contact in contacts">
          {{ contact.Vorname }} {{ contact.Name }}
        </option>
        <!-- <input type="text" name="Kontakt" id="inputKontakt" class="form-control" value="" required="required" pattern="" title=""> -->
      </select>
    </div>
  </div>
</form>
</div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputVertrags-Nr." class="col-md-4 control-label">Vertrags-Nr.</label>
        <div class="col-md-8">
          <input type="text" name="Vertrags-Nr." id="inputVertrags-Nr." class="form-control" value="" required="required" pattern="" title="">
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label" for="Zustaendigkeit">
        Zuständigkeit
        <span ng-show="contractForm.$submitted || contractForm.Zustaendigkeit.$touched">
          <span ng-show="contractForm.Zustaendigkeit.$error.required"> *</span>
        </span>
      </label>
      <div class="col-md-8">
        <input type="text" name="Zustaendigkeit" value="contractData.Zustaendigkeit"
        id="Zustaendigkeit" class="form-control" ng-model="contractData.Zustaendigkeit" required>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-md-8">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputBemerkungen" class="col-md-3 control-label">Bemerkungen</label>
        <div class="col-md-9"><textarea name="Bemerkungen" class=" form-control" rows="3" id="inputBemerkungen" value="" required="required" pattern="" title=""></textarea></div>
      </div>
    </form>
  </div>
  <div class="col-sm-4 col-md-4">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-8 col-md-offset-4 control-label" class="checkbox">
          <input type="checkbox"> inaktiv
        </label>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <h4 class="custom-h4"></h4>
</div>
</div>

</div>
<div class="row">
  <a href="artikel-1"><button type="button" class="btn btn-default custom-btn col-xs-12 col-sm-12 col-md-3 col-md-offset-6">
    <span class="glyphicon glyphicon-circle-arrow-right custom-glyphicon-left" aria-hidden="true"></span>speichern und weiter
  </button></a>
</div>
{{ contractData | json }}
