<!-- Notifikationsbox -->
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-9">
		<div ng-include='"app/shared/contractmenu/articleMenu.html"'></div>
	</div>

	<!-- list-group mit Wartungsvertragsinfos -->
	<div class="hidden-xs hidden-sm col-md-3">
		<div class="row">
			<div class="col-md-12">
				<div ng-include='"app/shared/contractbox/contractBox.html"'></div>
			</div>
		</div>
	</div>
</div>

<!-- Messages -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-9">
		<div ng-include='"app/shared/messagebox/messageBox.html"'></div>
	</div>
</div>
<!-- /Messages -->

<!-- Vertragsinfos -->
<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-9">

		<div class="panel panel-default custom-panel sticky-top panel-vertrag">
			<a href="/#/wartungsvertraege/detail/{{ contractId }}">
				<div class="panel-body">
					<p class="text-center weiss">
						<strong>
							<span class="glyphicon glyphicon-user custom-glyphicon-left"
							aria-hidden="true"></span>
							{{ contractData.Kunde }}&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="glyphicon glyphicon-tag custom-glyphicon-left"
							aria-hidden="true"></span>
							{{ contractData.Vertragsnummer }}&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="glyphicon glyphicon-earphone custom-glyphicon-left"
							aria-hidden="true"></span>
							{{ contractData.Kontaktperson_Vorname }} {{ contractData.Kontaktperson_Name }}
						</strong>
					</p>
				</div>
			</a>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-9">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h4 class="custom-h4">Artikel</h4>
			</div>
		</div>

		<div class="row">
			<form name="articleForm" ng-submit="articleForm.$valid && storeArticle()" novalidate="novalidate">
				<!-- je nach edit / new der Wert gesetzt PUT / POST -->
				<input type="hidden" name="_method" value="{{ formMethod }}">

				<div class="col-sm-12 col-md-12">

					<div class="row">

						<!-- Hersteller -->
						<div class="col-sm-6 col-md-6">
							<div class="form-group form-horizontal">
								<label for="Hersteller" class="col-md-4 control-label text-required-article">Hersteller</label>
								<div class="col-md-8">
									<select class="form-control" name="Hersteller" id="Hersteller"
									ng-model="articleData.Hersteller_ID" ng-change="refreshProducts()"
									required="required">
									<option value="{{ manufacturer.ID }}" ng-hide="loading" ng-repeat="manufacturer in manufacturers">
										{{ manufacturer.Name }}
									</option>
								</select>
							</div>
						</div>
					</div>
					<!-- /Hersteller -->

					<!-- Produkt -->
					<div class="col-sm-6 col-md-6">
						<div class="form-group form-horizontal">
							<label class="col-md-4 control-label text-required-article" for="Produkt">Produkt</label>
							<div class="col-md-8">
								<select class="form-control" name="Produkt" id="Produkt" ng-model="articleData.Artikel_Produkte_ID"
								ng-change="refreshProducts()" required="required">
								<option value="{{ product.ID }}" ng-hide="loading" ng-repeat="product in products">
									{{ product.Name }}
								</option>
							</select>
						</div>
					</div>
				</div>
				<!-- /Produkt -->

			</div>
			<div class="row">

				<!-- Artikelnummer -->
				<div class="col-sm-6 col-md-6">
					<div class="form-group form-horizontal">
						<label class="col-md-4 control-label text-required-article" for="Artikelnummer">Artikel-Nr.</label>
						<div class="col-md-8">
							<select class="form-control" name="Artikelnummer" id="Artikelnummer"
							ng-model="articleData.Artikelnummer" required="required">
							<option value="{{ reference.ID }}" ng-hide="loading" ng-repeat="reference in references">
								{{ reference.Artikelnummer }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<!-- /Artikelnummer -->

			<!-- Seriennummer -->
			<div class="col-sm-6 col-md-6">
				<div class="form-group form-horizontal">
					<label for="Seriennummer" class="col-md-4 control-label text-required-article">Serien-Nr.</label>
					<div class="col-md-8">
						<input type="text" name="Seriennummer" class="form-control" placeholder="Seriennummer"
						id="Seriennummer" ng-model="articleData.Seriennummer" required="required">
					</div>
				</div>
			</div>
			<!-- /Seriennummer -->

		</div>
		<div class="row">

			<!-- Artikel Einkaufspreis und -Waehrung -->
			<div class="col-sm-6 col-md-6">
				<div class="form-group form-horizontal">
					<label for="EKP_Artikel" class="col-md-4 control-label text-required-article">Eink.-Preis</label>
					<div class="col-md-4">
						<input class="form-control" type="text" name="EKP_Artikel" id="EKP_Artikel"
						ng-model="articleData.EKP_Artikel" required="required">
					</div>
					<!-- Waehrung -->
					<label for="EKP_Artikel_Waehrung" class="sr-only">Waehrung</label>
					<div class="col-md-4">
						<select class="form-control" name="EKP_Artikel_Waehrung" id="EKP_Artikel_Waehrung"
						ng-model="articleData.EKP_Artikel_Waehrungen_ID" required="required">
						<!-- <option value="{ 'EKP_Artikel_Waehrungen_ID':{{ currency.ID }},'EKP_Artikel_Kurs':{{ currency.Kurs }} }"
						ng-hide="loading" ng-repeat="currency in currencies">
						{{ currency.Waehrung }}
					</option> -->
					<option value="{{ currency.ID }}"	ng-hide="loading" ng-repeat="currency in currencies">
						{{ currency.Waehrung }}
					</option>
				</select>
			</div>
		</div>
	</div>
	<!-- /Artikel Einkaufspreis und -Waehrung -->

	<!-- Artikel Verkaufspreis und -Waehrung -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="VKP_Artikel" class="col-md-4 control-label text-required-article">Verk.-Preis</label>
			<div class="col-md-4">
				<input type="text" name="VKP_Artikel" class="form-control" id="VKP_Artikel"
				ng-model="articleData.VKP_Artikel" required="required">
			</div>
			<!-- Waehrung -->
			<label for="VKP_Artikel_Waehrung" class="sr-only">Waehrung</label>
			<div class="col-md-4">
				<select class="form-control" name="VKP_Artikel_Waehrung" id="VKP_Artikel_Waehrung"
				ng-model="articleData.VKP_Artikel_Waehrungen_ID" required="required">
				<option value="{{ currency.ID }}" ng-hide="loading" ng-repeat="currency in currencies">
					{{ currency.Waehrung }}
				</option>
			</select>
		</div>
	</div>
</div>
<!-- /Artikel Verkaufspreis und -Waehrung -->

</div>
<div class="row">

	<!-- Auftragsnummer -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Auftragsnummer" class="col-md-4 control-label">Auftr.-Nr.</label>
			<div class="col-md-8">
				<input type="text" name="Auftragsnummer" class="form-control" placeholder="Auftragsnummer"
				id="Auftragsnummer" ng-model="articleData.Auftragsnummer">
			</div>
		</div>
	</div>
	<!-- /Auftragsnummer -->

	<!-- Auftragsdatumdatum -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Auftragsdatum" class="col-md-4 control-label">Datum</label>
			<div class="col-md-8">
				<input type="text" name="Auftragsdatum" class="form-control" placeholder="TT.MM.JJJJ"
				id="Auftragsdatum" ng-model="articleData.Auftragsdatum">
				<!-- {{ articleData.Auftragsdatum | date : 'dd.MM.yyyy'}} -->
			</div>
		</div>
	</div>
	<!-- /Auftragsnummer -->

</div>
<div class="row">

	<!-- Rechnungsnummer -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Rechnungsnummer" class="col-md-4 control-label">Rechn.-Nr.</label>
			<div class="col-md-8">
				<input type="text" name="Rechnungsnummer" placeholder="Rechnungsnummer"
				id="Rechnungsnummer" class="form-control" ng-model="articleData.Rechnungsnummer">
			</div>
		</div>
	</div>
	<!-- /Rechnungsnummer -->

	<!-- Rechnungsdatum -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Rechnungsdatum" class="col-md-4 control-label">Datum</label>
			<div class="col-md-8">
				<input type="text" name="Rechnungsdatum" class="form-control" placeholder="TT.MM.JJJJ"
				id="Rechnungsdatum"	ng-model="articleData.Rechnungsdatum">
			</div>
		</div>
	</div>
	<!-- /Rechnungsdatum -->

</div>
<div class="row">

	<h4 class="custom-h4">Maintenance</h4>

</div>
<div class="row">

	<!-- Wartungsart -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Wartungsart" class="col-md-4 control-label text-required-article">Art</label>
			<div class="col-md-8">
				<select class="form-control" name="Wartungsart" id="Wartungsart"
				ng-model="articleData.Artikel_Maintenance_ID" ng-change="refreshOperationsupport()"
				required="required">
				<option value="{{ maintenance.ID }}" ng-hide="loading" ng-repeat="maintenance in maintenances">
					{{ maintenance.Bezeichnung }}
				</option>
			</select>
		</div>
	</div>
</div>
<!-- /Wartungsart -->

<!-- Startdatum Maintenance -->
<div class="col-sm-6 col-md-6">
	<div class="form-group form-horizontal">
		<label for="Maintenance_Start" class="col-md-4 control-label text-required-article">Start</label>
		<div class="col-md-8">
			<input type="text" name="Maintenance_Start" class="form-control" placeholder="TT.MM.JJJJ"
			id="Maintenance_Start" ng-model="articleData.Maintenance_Start" required="required">
		</div>
	</div>
</div>
<!-- /Startdatum Maintenance -->

</div>
<div class="row">

	<!-- Maintenance von -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Maintenance_von" class="col-md-4 control-label text-required-article">Von</label>
			<div class="col-md-8">
				<input type="text" name="Maintenance_von" class="form-control" id="Maintenance_von"
				placeholder="TT.MM.JJJJ" ng-model="articleData.Maintenance_von" required="required">
			</div>
		</div>
	</div>
	<!-- /Maintenance von -->

	<!-- Maintenance bis -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="Maintenance_bis" class="col-md-4 control-label text-required-article">Bis</label>
			<div class="col-md-8">
				<input type="text" name="Maintenance_bis" class="form-control" id="Maintenance_bis"
				placeholder="TT.MM.JJJJ" ng-model="articleData.Maintenance_bis" required="required">
			</div>
		</div>
	</div>
	<!-- /Maintenance bis -->

</div>
<div class="row">

	<!-- Maintenance Einkaufspreis und -Waehrung -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="EKP_Maintenance" class="col-md-4 control-label text-required-article">Eink.-Preis</label>
			<div class="col-md-4">
				<input class="form-control" type="text" name="EKP_Maintenance" id="EKP_Maintenance"
				ng-model="articleData.EKP_Maintenance" required="required">
			</div>
			<!-- Waehrung -->
			<label for="EKP_Maintenance_Waehrung" class="sr-only">Waehrung</label>
			<div class="col-md-4">
				<select class="form-control" name="EKP_Maintenance_Waehrung" id="EKP_Maintenance_Waehrung"
				ng-model="articleData.EKP_Maintenance_Waehrungen_ID" required="required">
				<option value="{{ currency.ID }}" ng-hide="loading" ng-repeat="currency in currencies">
					{{ currency.Waehrung }}</option>
				</select>
			</div>
		</div>
	</div>
	<!-- /Maintenance Einkaufspreis und -Waehrung -->

	<!-- Maintenance Verkaufspreis und -Waehrung -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="VKP_Maintenance" class="col-md-4 control-label text-required-article">Verk.-Preis</label>
			<div class="col-md-4">
				<input type="text" name="VKP_Maintenance" class="form-control" id="VKP_Maintenance"
				ng-model="articleData.VKP_Maintenance" required="required">
			</div>
			<!-- Waehrung -->
			<label for="VKP_Maintenance_Waehrung" class="sr-only">Waehrung</label>
			<div class="col-md-4">
				<select class="form-control" name="VKP_Maintenance_Waehrung" id="VKP_Maintenance_Waehrung"
				ng-model="articleData.VKP_Maintenance_Waehrungen_ID" required="required">
				<option value="{{ currency.ID }}" ng-hide="loading" ng-repeat="currency in currencies">
					{{ currency.Waehrung }}</option>
				</select>
			</div>
		</div>
	</div>
	<!-- /Maintenance Verkaufspreis und -Waehrung -->

</div>

<div class="row">
	<h4 class="custom-h4">Operation Support</h4>
</div>

<div class="row">

	<!-- OS-Art -->
	<div class="col-sm-6 col-md-6">
		<div class="form-group form-horizontal">
			<label for="OS_Art" class="col-md-4 control-label">OS-Art</label>
			<div class="col-md-8">
				<select class="form-control" name="OS_Art" id="OS_Art" ng-model="articleData.Artikel_Operationsupport_ID">
					<option value="{{ operationsupport.ID }}" ng-hide="loading" ng-repeat="operationsupport in operationsupports">
						{{ operationsupport.Bezeichnung }}</option>
					</select>
				</div>
			</div>
		</div>
		<!-- /OS-Art -->

		<!-- Startdatum OS -->
		<div class="col-sm-6 col-md-6">
			<div class="form-group form-horizontal">
				<label for="Operationsupport_Start" class="col-md-4 control-label">Start</label>
				<div class="col-md-8">
					<input type="text" name="Operationsupport_Start" class="form-control" placeholder="TT.MM.JJJJ"
					id="Operationsupport_Start" ng-model="articleData.Operationsupport_Start">
				</div>
			</div>
		</div>
		<!-- /Startdatum Maintenance -->

	</div>
	<div class="row">

		<!-- Operation Support von -->
		<div class="col-sm-6 col-md-6">
			<div class="form-group form-horizontal">
				<label for="Operationsupport_von" class="col-md-4 control-label">Von</label>
				<div class="col-md-8">
					<input type="text" name="Operationsupport_von" class="form-control" id="Operationsupport_von"
					placeholder="TT.MM.JJJJ" ng-model="articleData.Operationsupport_von">
				</div>
			</div>
		</div>
		<!-- /Operation Support von -->

		<!-- Operation Support bis -->
		<div class="col-sm-6 col-md-6">
			<div class="form-group form-horizontal">
				<label for="Operationsupport_bis" class="col-md-4 control-label">Bis</label>
				<div class="col-md-8">
					<input type="text" name="Operationsupport_bis" class="form-control"	id="Operationsupport_bis"
					placeholder="TT.MM.JJJJ" ng-model="articleData.Operationsupport_bis">
				</div>
			</div>
		</div>
		<!-- /Operation Support bis -->

	</div>
	<div class="row">

		<div class="col-sm-6 col-md-6">
		</div>

		<!-- OS-Verkaufspreis -->
		<div class="col-sm-6 col-md-6">
			<div class="form-group form-horizontal">
				<label for="VKP_Operationsupport" class="col-md-4 control-label">Verk.-Preis</label>
				<div class="col-md-4">
					<input type="text" name="VKP_Operationsupport" class="form-control"	id="VKP_Operationsupport"
					ng-model="articleData.VKP_Operationsupport">
				</div>
				<!-- Waehrung -->
				<label for="VKP_Operationsupport_Waehrung" class="sr-only">Waehrung</label>
				<div class="col-md-4">
					<select class="form-control" name="VKP_Operationsupport_Waehrung" id="VKP_Operationsupport_Waehrung"
					ng-model="articleData.VKP_Operationsupport_Waehrungen_ID">
					<option value="{{ currency.ID }}" ng-hide="loading" ng-repeat="currency in currencies">
						{{ currency.Waehrung }}</option>
					</select>
				</div>
			</div>
		</div>
		<!-- /OS-Verkaufpreis -->


	</div>

	<div class="row">
		<h4 class="custom-h4"></h4>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-6">

			<input type="hidden" name="Wartungsvertrag_ID" ng-model="articleData.Artikel_Wartungsvertraege_ID">
			<button type="submit" class="btn btn-default custom-btn">
				<span class="glyphicon glyphicon-ok-sign custom-glyphicon-left" aria-hidden="true"></span>Speichern
			</button>&nbsp;
			<input type="button" class="btn btn-default custom-btn" ng-click="reset()" value="Reset">
			<a href="/#/produkte/neu">
				<button type="button" class="btn btn-default custom-btn">
					<span class=" glyphicon glyphicon-plus-sign custom-glyphicon-left" aria-hidden="true"></span>Produkt erfassen
				</button>
			</a>

		</div>
	</div>

</form>
</div>
</div>
</div>
</div>

<!-- {{ articleData | json }} -->
