<div class="row">
  <div class="col-xs-12 col-ms-12 col-md-12">

    <!-- testing -->
    <div ng-if="authenticated">
      <h3>{{ currentUser.name }}</h3>
      <p>Benutzername: {{ currentUser.username }}</p>
      <p>Rolle: {{ currentUserRole }}</p>
      <p>E-Mail: {{ currentUser.email }}</p>
      <p><button class="btn btn-default custom-btn" ng-click="logout()">Logout</button></p>
    </div>

    <div ng-if="!authenticated">
      <h3>Nicht eingeloggt</h3>
      <p><a href="/#/login"><button class="btn btn-default custom-btn">Login</button></p>
    </div>

  </div>
</div>
