<div class="row">
	<div class="well-warning col-xs-12 col-sm-12 col-md-5">
		<div class="warning col-xs-8 col-sm-8 col-md-8">
			<h3>3 Wartungsverträge</h3>
			<p>laufen in weniger als einem Monat ab!</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<button class="custom-btn-circle-1">
				<span class="glyphicon glyphicon-file" style="font-size:50px;"></span>
			</button>
		</div>
	</div>
	<div class="well-warning col-xs-12 col-sm-12 col-md-5">
		<div class="warning col-md-8 col-sm-8 col-xs-8">
			<h3>7 Wartungsverträge</h3>
			<p>laufen in weniger als drei Monaten ab!</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<button class="custom-btn-circle-1">
				<span class="glyphicon glyphicon-file" style="font-size:50px;"></span>
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="well-sum col-xs-12 col-sm-12 col-md-5">
		<div class="warning-grey col-xs-8 col-sm-8 col-md-8">
			<h3>40'000 CHF</h3>
			<p>Wartungsverträge aktueller Monat</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<button class="custom-btn-circle-1 sum">
				<span class="glyphicon glyphicon-usd" style="font-size:50px;"></span>
			</button>
		</div>
	</div>
	<div class="well-sum col-xs-12 col-sm-12 col-md-5">
		<div class="warning-grey col-xs-8 col-sm-8 col-md-8">
			<h3>127'000 CHF</h3>
			<p>Wartungsverträge letzten drei Monate</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<button class="custom-btn-circle-1 sum">
				<span class="glyphicon glyphicon-usd" style="font-size:50px;"></span>
			</button>
		</div>
	</div>
</div>
