<div class="row">
	<div class="col-xs-12 col-ms-12 col-md-12">
		<h3>Startseite</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well-warning col-md-5">
			<div class="col-md-2">
				<button class="custom-btn-circle-2"><h2>3</h2></button>
			</div>
			<div class="col-md-10">
				<div class="warning">
					<h2>Wartungsverträge</h2>
					<p>laufen in weniger als einem Monat ab!</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button class="custom-btn-circle-1"><span class="glyphicon glyphicon-file" style="font-size:50px;"></span></button>
		</div>
		<div class="well-warning col-md-5">
			<div class="col-md-2">
				<button class="custom-btn-circle-3"><h2>7</h2></button>
			</div>
			<div class="col-md-10">
				<div class="warning">
					<h2>Wartungsverträge</h2>
					<p>laufen in weniger als drei Monaten ab!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well-sum col-md-5">
			<div class="col-md-2">
				<button class="custom-btn-circle-2 sum"><p>40'000 CHF</p></button>
			</div>
			<div class="col-md-10">
				<div class="warning">
					<h2>Summe</h2>
					<p>Wartungsverträge aktueller Monat</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button class="custom-btn-circle-1 sum"><span class="glyphicon glyphicon-usd" style="font-size:50px;"></span></button>
		</div>
		<div class="well-sum col-md-5">
			<div class="col-md-2">
				<button class="custom-btn-circle-3 sum"><p>127'000 CHF</p></button>
			</div>
			<div class="col-md-10">
				<div class="warning">
					<h2>Summe</h2>
					<p>Wartungsverträge letzten drei Monate</p>
				</div>
			</div>
		</div>
	</div>
</div>
